<div class="card mb-3">
    <img src="{{ receta.imagen_receta }}" class="card-img-top" alt="Platillo">
    <div class="card-body">
        <h4 class="card-title"><strong> {{ receta.nombre_receta }} </strong></h4>
        <h6>Ingredientes</h6>
        <ul>
            <li *ngFor="let ingrediente of receta.ingredientes_receta"> {{ ingrediente }} </li>
        </ul>
        <h6>Procedimiento</h6>
        <p class="card-text"> {{ receta.procedimiento_receta }} </p>
    </div>
</div>