<div class="container content">
    <div class="row justify-content-md-center">
        <div class="col-5">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre del Platillo</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Platillo..." #nombre>
                </div>
                <div class="form-group">
                    <label for="ingrediente">Ingrediente</label>
                    <div class="row">
                        <div class="col-9">
                            <input type="text" class="form-control" id="ingrediente" placeholder="Ingrediente..." #ingrediente>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-info" (click)="agregar(ingrediente.value)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="procedimiento">Procedimiento</label>
                    <textarea class="form-control" id="procedimiento" rows="2" #procedimiento></textarea>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen Url</label>
                    <input type="text" class="form-control" id="imagen" placeholder="Imagen..." #imagen>
                </div>
                <button type="button" class="btn btn-primary" (click)="guardar(nombre.value, procedimiento.value, imagen.value)">Guardar</button>
            </form>
        </div>
    </div>
    <hr class="mb-5">
    <app-receta-formulario *ngFor="let r of recetas" [receta]=r></app-receta-formulario>
</div>